################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Build/Release
/Level2Cipher/obj/Release
/.vs/Level2Cipher/v15
/Test/Test/bin/Release
/Test/Test/obj/Release
